<?xml version="1.0"?>
<Settings>
    <Directories>
        <AIA>C:\PKIData\AIA</AIA>
        <CRL>C:\PKIData\CRL</CRL>
        <Script>C:\PKIData\scripts</Script>
        <CADatabase>C:\PKIData\Database</CADatabase>
		<CertReqLocation>C:\PKIData\REQ</CertReqLocation>
        <USBMedia>C:\</USBMedia>
    </Directories>
    <CAParameter>
        <CACommonName>Root CA</CACommonName>
        <CryptoProvider>RSA#Microsoft Software Key storage Provider</CryptoProvider>
        <HashAlgorithm>SHA512</HashAlgorithm>
        <KeyLength>4096</KeyLength>
        <ValidityPeriod>Years</ValidityPeriod>
        <ValidityPeriodUnits>5</ValidityPeriodUnits>
        <MaxCertificatePeriod>Years</MaxCertificatePeriod>
        <MaxCertificatePeriodUnits>2</MaxCertificatePeriodUnits>
    </CAParameter>
    <ADConfiguration>
        <ADDistinguishedName></ADDistinguishedName>
    </ADConfiguration>
    <CRL>
        <Period>years</Period>
        <PeriodUnits>10</PeriodUnits>
        <OverlapPeriod>months</OverlapPeriod>
        <OverlapPeriodUnits>1</OverlapPeriodUnits>
        <CDP>1:C:\PKIData\CRL\%3%8.crl\n2:http://pki/crl/%3%8.crl</CDP>
    </CRL>
    <SubCA>
        <ValidityPeriod>years</ValidityPeriod>
        <ValidityPeriodUnits>2</ValidityPeriodUnits>
    </SubCA>
    <AIA>
        <PubPath>1:C:\PKIData\AIA\%3.crt\n2:http://pki/crl/%3.crt</PubPath>
    </AIA>
<CAPolicyInf>[Version]
signature = "$windows NT$"

[PolicyStatementExtension]
Policies = LegalPolicy,AllIssuancePolicy

[LegalPolicy]
OID=1.1.1.1.1.1.1
URL=http://pki/cp/Root%20CA.htm

[AllIssuancePolicy]
OID=2.5.29.32.0

[certsrv_server]
ForceUTF8=true
RenewalkeyLength=4096
RenewalValidityPeriod=Years
RenewalValidityPeriodUnits=5
    </CAPolicyInf>
    <Scripts>
        <Backup><![CDATA[
@Echo Off

REM ## Set Variables
SET CAName=RootCA
SET BackupDir=C:\Backup\%CAName%

REM ## Delete old Backup directories
RD %BackupDir% /s /q

REM ## Create new Backup directories
MD %BackupDir%

REM ## Backup the CA
certutil -BackupDB %BackupDir%
REG EXPORT HKLM\System\currentcontrolSet\Services\CertSvc %BackupDir%\HKLM_certsvc_configuration_%CAName%.reg
certutil -getreg    > %BackupDir%\%CAName%_GetReg.txt
certutil -v -getreg > %BackupDir%\%CAName%_GetReg_verbose.txt
certutil -CAinfo    > %BackupDir%\%CAName%_CAInfo.txt

        ]]></Backup>
    </Scripts>
</Settings>